.ContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px 85px 20px;
}

.ContactForm {
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
}
